/* We just give you the arrow CSS code */
.product-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
  transition: all 0.15s ease;
}

.product-image {
    border-radius: 10px;
    margin-right: 20px;
    width: 150px;
}

.product-upvote {
    padding-right: 20px;
    text-align: center;
    transition: all 0.15s ease;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}

.product-upvote:hover {
    color: #5898f1;
    cursor: pointer;
}

.product {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 3px;
    transition: all 0.15s ease;
    margin: 10px 0;
}

.product:hover {
    background: #f7f7fa;
    cursor: pointer;
}
.product-controls a {
    padding: 0 20px;
    font-size: 17px;
    color: #E6E6E6;
}

.product-body p {
    font-weight: lighter;
    color: #999999;
    margin-bottom: 0;
}

.product-body {
  flex: 1 1 auto;
}

.product-controls a:hover {
    color: #3c6fd3 !important;
}

.product-upvote:hover .product-arrow {
    border-bottom: 9px solid #5898f1;
}

.product:hover .product-upvote {
    transform: scale(1.2);
}



